.exploreSpaceDailyTimeSegmentBox {
  width: 350px;
}

.exploreControlTimeSegment {
  margin-right: 8px;
}

.exploreControlDatePicker {
  margin-right: 8px;
}

.exploreControlDateRangePicker {
  margin-right: 8px;
}
