@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";

.adminLocationsBuildingDetail {
  display: flex;
  flex-direction: row;
}




.spaceList {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
}

.section { margin-bottom: 32px; }
