@import "@density/ui/variables/colors.scss";

.spaceList {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 32px;
  overflow-y: auto;
}

.section { margin-bottom: 32px; }

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $gray000;
}


.leftPaneMap { padding: 24px; }
