/**
 * Grid container (copy 1 of 2)
 */
@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/grid.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/spacing.scss";
$accountForgotPasswordSectionWidth: 560px;

.accountForgotPasswordView {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.accountForgotPasswordSection {
  flex-grow: 0;
  box-sizing: border-box;
  height: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #fff;
}

.accountForgotPasswordDensityLogo {
  display: block;
  height: 24px;
  margin-bottom: 24px;
}
.accountForgotPasswordDensityLogo img {
  height: 100%;
  width: auto;
}

.accountForgotPasswordLead {
  margin-bottom: 64px;
  color: $grayCinder;
  font-weight: bold;
}


// Log In Form
// ---------------------------------

.accountForgotPasswordForm {
  margin-bottom: 20px;
}

.accountForgotPasswordSubmitButton {
  margin-top: 30px;
  width: 100%;
}

// ------------------------------------------------
// Desktop Styles
// ------------------------------------------------
@media (min-width: 450px) {
  // anything above mobile
  .accountForgotPasswordSection {
    box-sizing: border-box;
    width: $accountForgotPasswordSectionWidth;
    padding-left: 64px;
    padding-right: 64px;
  }
}
