.explore-space-header-container {
  // padding-top: 20px;
}

.explore-space-header {
  margin: 0px auto;
  padding-top: 0;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.explore-space-header-row {
  margin-top: 10px;
  display: flex;

  // On mobile, render header in a vertical list.
  // On desktop, render header items in a line horizontally.
  flex-direction: column;
  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }
}

.explore-space-header-capacity {
  font-size: 16px;
  font-weight: normal;
  color: $gray-cinder;
}

.explore-space-header-capacity-set-link,
.explore-space-header-capacity-update-link {
  text-decoration: underline;
  cursor: pointer;
  color: $brand-primary-new;
}

.explore-space-header-time-zone {
  margin-top: 15px;

  // On mobile, render header like other items in a left-aligned position.
  // On desktop, render right aligned.
  @media (min-width: $screen-sm-min) {
    margin-top: 0px;
    margin-left: auto;
  }
}

.explore-space-header-hierarchy {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
}

.explore-space-header-hierarchy-level {
  margin-left: 4px;
  margin-right: 4px;
}
.explore-space-header-hierarchy-level:first-of-type { margin-left: 0px; }
.explore-space-header-hierarchy-level:last-of-type { margin-right: 0px; }
