@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/spacing.scss";

@import '../../styles/button.scss';
@import '../../styles/shadows.scss';

$dashboardDigestBackdropZIndex: 99999;

.dashboardDigestList {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.dashboardDigestBackdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: $dashboardDigestBackdropZIndex;
  display: none;
}
.dashboardDigestBackdrop.visible { display: block; }


.dashboardDigestListButton {
  @extend .hack-outline-button;
}
@media (max-width: 375px) {
  // Hide digests on mobile
  .dashboardDigestListButton { display: none; }
}
.dashboardDigestListButton.visible {
  position: relative;
  z-index: $dashboardDigestBackdropZIndex + 1;
}

.dashboardDigestListButtonText {
  margin-left: 8px;
  margin-right: 16px;
}


.dashboardDigestListDropdown {
  position: absolute;
  right: 0px;
  width: 600px;
  z-index: 999999;

  margin-top: 8px;
  background-color: #fff;
  border: 1px solid $gray300;
  border-radius: $borderRadiusBase;

  opacity: 0;
  transition: all 150ms ease-in-out;
  pointer-events: none;
  @include dialog-box-shadow;
}
.dashboardDigestListDropdown.visible {
  pointer-events: auto;
  opacity: 1;
}


.dashboardDigestListDropdownCreateButton {
  display: flex;
  align-items: center;
  color: $midnight;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  margin-left: 16px;
}
.dashboardDigestListDropdownCreateButton:hover { opacity: 0.9; }
.dashboardDigestListDropdownCreateButton:active { opacity: 1; }
.dashboardDigestListDropdownCreateButtonText { margin-left: 8px; }


.dashboardDigestListDropdownList {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
}
.dashboardDigestListDropdownItem {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.dashboardDigestListDropdownItem:last-of-type { padding-bottom: 24px; }
.dashboardDigestListDropdownItemRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.dashboardDigestListDropdownItemName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dashboardDigestListDropdownItemEdit {
  color: $midnight;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  margin-left: 24px;
}
.dashboardDigestListDropdownItemEdit:hover { opacity: 0.9; }
.dashboardDigestListDropdownItemEdit:active { opacity: 1; }

.dashboardDigestListDropdownItemInterval {
  display: flex;
  align-items: center;

  font-weight: bold;
  user-select: none;
  cursor: default;
  color: $gray500;
}
.dashboardDigestListDropdownItemIntervalText {
  margin-left: 8px;
  font-size: 14px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.dashboardDigestListEmptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}
.dashboardDigestListEmptyContainerText {
  margin-left: 24px;
}
.dashboardDigestListEmptyContainerTitle {
  color: $midnight;
  font-size: $fontSizeBase;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 4px;
}
.dashboardDigestListEmptyContainerDesc {
  color: $gray400;
  font-size: 14px;
}



.dashboardDigestListErrorContainer {
  display: flex;
  align-items: center;
  height: 240px;
}
.dashboardCigestListErrorContainerTitle {
  font-size: 24px;
  color: $red;
  margin-top: 0px;
}
.dashboardDigestListErrorContainerDesc { font-size: $fontSizeBase; }



.dashboardDigestListLoadingPlaceholderContainer {
  height: 210px;
  padding-top: 30px;
}
.dashboardDigestListLoadingPlaceholderRow.one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.dashboardDigestListLoadingPlaceholderRow.two {
  display: flex;
  margin-bottom: 21px;
}
.dashboardDigestListLoadingPlaceholder {
  background-color: $gray300;
  border-radius: $borderRadiusSmall;
  height: 8px;
}
.dashboardDigestListLoadingPlaceholder.dark { background-color: $gray400; }
