@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/grid.scss";

.exploreFilterBar {
  font-size: $fontSizeBase;
  color: $grayCinder;

  padding-top: 20px;
  padding-bottom: 20px;

  // Remove the paddings from the width.
  width: calc(100% - 24px - 24px);
  padding-left: 24px;
  padding-right: 24px;
}
.exploreFilterBar.noSelect {
  user-select: none;
  pointer-events: none;
}
.exploreFilterBar.fixed {
  @media (min-width: $screenXsMax) {
    position: fixed;
    top: 53;
    z-index: 999;
    top: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.exploreFilterBarHeightSpacer {
  display: none;
  @media (min-width: $screenXsMax) {
    display: block;
  }
}

.exploreFilterBarItems {
  width: 100%;
  margin: 0px auto;

  padding-left: 0px;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  @media (min-width: $screenSmMin) {
    flex-direction: row;
  }
}

.exploreFilterBarItem {
  margin-bottom: 10px;
  @media (min-width: $screenSmMin) {
    margin-bottom: 0px;
    &.right { margin-left: auto; }
  }
}

// Add margin between each item in the filter bar
.exploreFilterBarItem { margin-right: 15px; }
.exploreFilterBarItem:last-of-type {
  margin-right: 0px;
  margin-bottom: 0px;
}

.exploreFilterBarItemLabel {
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  font-size: 12px;

  // On phones, add spacing above each label when stacking vertically
  margin-top: 5px;
  @media (min-width: $screenSmMax) {
    margin-top: 0px;
  }
}
