.dashboards-list {
  width: 100%;
  max-width: 800px;
  margin: 24px auto;

  padding: 24px;
  background-color: #fff;
  border: 1px solid #e8e8ed;
  box-shadow: 6px 6px 0 rgba(0,0,0,.06);
}

.dashboards-list h1 { font-size: 24px; }
.dashboards-list p { font-size: 14px; }
