@import "@density/ui/variables/fonts.scss";

.dashboardsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.dashboardsList > div { width: 320px; }

.dashboardsList h1 {
  font-size: 18px;
}
.dashboardsList h1 img {
  width: 24px;
  margin-bottom: -5px;
  margin-right: 6px;
}
.dashboardsList p {
  font-size: $fontSizeBase;
  margin-bottom: 18px;
}
