@import "@density/ui/variables/colors.scss";

.header {
  width: 370px;
  background-color: $gray100;
}
.back {
  margin-right: 16px;
}

.dateSelector {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 20px;
  margin-right: 8px;
  white-space: nowrap;
}
.dateSelectorLabel {
  color: $gray400;
  padding-right: 16px;
}

.dateSelectorCustomWrapper {
  display: flex;
  flex-direction: column;
  height: 588px;
  width: 370px;
}
.dateSelectorCustomBody {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
  padding: 24px;
}
.dateSelectorCustomBodyItem {
  padding-top: 4px;
  padding-bottom: 4px;
  flex-grow: 0;
  flex-shrink: 0;
}
.dateSelectorCustomBodyItem:first-child { padding-top: 0px; }
