@import "@density/ui/variables/colors.scss";

.spaceMetaField {
  margin-left: 32px;
  padding-top: 4px;
  height: 60px;
  white-space: nowrap;
}
.spaceMetaField.compact {
  margin-left: 24px;
}

.spaceMetaField:first-of-type,
.spaceMetaField.compact:first-of-type {
  margin-left: 0;
}

.spaceDoorwayListDeviceInfoRow {
  display: flex;
  color: $gray400;
  font-weight: bold;
  font-size: 12px;
  padding: 13px 0;
  border-bottom: 1px solid $gray200;
}
.spaceDoorwayListDeviceInfoRow:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}