.dashboard-modal-confirm {
  display: flex;
  flex-direction: column;
}
.dashboard-modal-confirm-content {
  padding: 32px;
}

.dashboard-modal-cancel-link {
  margin-right: 24px;
  color: $brand-primary;
  text-decoration: underline;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  user-select: none;
}
.dashboard-modal-cancel-link:hover { opacity: 0.9; }
.dashboard-modal-cancel-link:active { opacity: 1; }