@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
.genericLoadingState {
  display: flex;
  align-items: center;

  width: 500px;
  height: 72px;
  background-color: #fff;
  border: 1px solid $gray;
  border-radius: $borderRadiusBase;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.genericLoadingStateLoading {
  color: $brandPrimary;
  font-size: 18px;
  margin-right: 32px;
}
