@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";

@import '../../styles/shadows.scss';

.genericLoadingState {
  display: flex;
  align-items: center;

  width: 480px;
  height: 72px;
  background-color: #fff;
  border: 1px solid $gray300;
  border-radius: $borderRadiusBase;
  @include elevated-status-box-shadow;
  font-size: $fontSizeBase;
  padding-left: 24px;
  padding-right: 24px;
}
.genericLoadingStateLoading {
  color: $midnight;
  font-size: 18px;
  margin-right: 32px;
}
