// Radio button group for selecting token type
.token-create-token-type-radio-group {
  display: flex;
  margin-bottom: 20px;
}
.token-create-token-type-radio-item {
  margin-right: 32px;
  user-select: none;
}

.token-create-description-field {
  resize: none;
  height: 5em;
}

.token-create { padding: 24px; }
