@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";

.subheader {
  display: block;
  color: $grayCinder;
  background-color: $grayLightest;
  text-decoration: none;
  cursor: default;
}
.subheader.hover { background-color: $grayLighter; }
.subheader.supportsHover { cursor: pointer; }

.title {
  font-size: 20px;
  user-select: none;
  white-space: nowrap;
}
.supportsHover .title { cursor: pointer; }
.title.hover {
  color: $brandPrimary;
  text-decoration: underline;
}

.subtitle {
  margin-left: 24px;
  font-size: $fontSizeBase;
  color: $grayDarker;
  white-space: nowrap;
}
.subtitle.hover { text-decoration: none; }

.manageLinkWrapper {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.manageLink {
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  margin-right: 16px;
  color: $brandPrimary;
  text-decoration: none;
}
.manageLink.hover { text-decoration: underline; }

