@import "@density/ui/variables/colors.scss";

.subheader {
  display: block;
  color: $grayCinder;
  background-color: $grayLightest;
  text-decoration: none;
  padding-right: 24px;
  cursor: default;
}
.subheader.hover { background-color: $grayLighter; }
.subheader.supportsHover { cursor: pointer; }

.title {
  font-size: 20px;
  cursor: pointer;
}
.title.hover {
  color: $brandPrimary;
  text-decoration: underline;
}

.manageLink {
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  opacity: 0;
  margin-right: 16px;
  color: $brandPrimary;
}
.manageLink.hover { opacity: 1; }

