.admin-integrations-room-booking-list {
  padding: 24px;
}

.admin-integrations-chat-list {
  padding: 24px;
  padding-bottom: 64px;
}

.admin-integrations-section-header {
  height: 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid $gray;
  font-size: 24px;
  font-weight: 400;
  color: $gray-cinder;
  margin-bottom: 32px;
}

.admin-integrations-listview-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.admin-integrations-listview-image {
  width: 28px;
  height: 28px;
  border-radius: 6px;
}