@import "@density/ui/variables/colors.scss";

.contactLink {
  color: $blue;
}

.adminIntegrationsListSection {
  padding: 24px;

  &:last-child { padding-bottom: 64px; }
}

.adminIntegrationsSectionHeader {
  height: 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid $gray200;
  font-size: 24px;
  font-weight: 400;
  color: $midnight;
  margin-bottom: 32px;
}

.adminIntegrationsListviewValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.adminIntegrationsListviewImage {
  width: 28px;
  height: 28px;
  border-radius: 6px;
}

.adminIntegrationsMakeDefaultLink {
  text-decoration: underline;
  font-weight: 500;
  color: $midnight;
  cursor: pointer;  
}

.disabledIntegrationsLink {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: $gray500;
  cursor: default;
  user-select: none;
}

.onPremBackground {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 24px;
  padding-top: 48px;
  background-color: $gray100;
  font-size: 18px;
  cursor: default;
  user-select: none;
}
