@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";

$admin-space-permissions-picker-checkbox-checked-image: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 62 (91390) - https://sketch.com --%3E%3Ctitle%3Eform control / checkbox-checked%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='space-hierarchy-/-checkbox-/-checkbox' transform='translate(-72.000000, -191.000000)'%3E%3Cg id='floor' transform='translate(72.000000, 184.000000)'%3E%3Cg id='form-control-/-checkbox-/-checked' transform='translate(0.000000, 7.000000)'%3E%3Cg%3E%3Crect id='checkbox' stroke='%233E6FFD' fill='%233E6FFD' x='0.5' y='0.5' width='17' height='17' rx='4'%3E%3C/rect%3E%3Cg id='check-/-check-small' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpolygon id='Shape' points='12.1805575 6.26190647 13.3194425 7.23809353 8.29236133 12.3530215 5.46966991 9.53033009 6.53033009 8.46966991 8.20763867 10.1469785'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E";
$admin-space-permissions-picker-checkbox-unchecked-image: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 62 (91390) - https://sketch.com --%3E%3Ctitle%3Eform control / checkbox%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='space-hierarchy-/-checkbox-/-checkbox' transform='translate(-72.000000, -159.000000)' fill='%23FFFFFF' stroke='%23D1D5DA'%3E%3Cg id='space' transform='translate(72.000000, 152.000000)'%3E%3Cg id='form-control-/-checkbox-/-normal' transform='translate(0.000000, 7.000000)'%3E%3Cg id='checkbox'%3E%3Crect x='0.5' y='0.5' width='17' height='17' rx='4'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E";
$admin-space-permissions-picker-checkbox-disabled-checked-image: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 62 (91390) - https://sketch.com --%3E%3Ctitle%3Eform control / checkbox-disabled-checked%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='space-hierarchy-/-checkbox-/-checkbox' transform='translate(-96.000000, -223.000000)'%3E%3Cg id='space' transform='translate(96.000000, 216.000000)'%3E%3Cg id='form-control-/-checkbox-/-disabled-checked' transform='translate(0.000000, 7.000000)'%3E%3Cg%3E%3Crect id='checkbox' stroke='%23E1E4E8' fill='%23E1E4E8' x='0.5' y='0.5' width='17' height='17' rx='4'%3E%3C/rect%3E%3Cg id='check-/-check-small' fill='%23C9CED7' fill-rule='nonzero'%3E%3Cpolygon id='Shape' points='12.1805575 6.26190647 13.3194425 7.23809353 8.29236133 12.3530215 5.46966991 9.53033009 6.53033009 8.46966991 8.20763867 10.1469785'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E";
$admin-space-permissions-picker-checkbox-disabled-unchecked-image: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 62 (91390) - https://sketch.com --%3E%3Ctitle%3Eform control / checkbox-disabled%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='space-hierarchy-/-checkbox-/-checkbox' transform='translate(-72.000000, -127.000000)' fill='%23E1E4E8' stroke='%23E1E4E8'%3E%3Cg id='space' transform='translate(72.000000, 120.000000)'%3E%3Cg id='form-control-/-checkbox-/-disabled' transform='translate(0.000000, 7.000000)'%3E%3Cg id='checkbox'%3E%3Crect x='0.5' y='0.5' width='17' height='17' rx='4'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E";

.adminSpacePermissionsPicker {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;
}
.adminSpacePermissionsPickerBody {
  flex-grow: 1;
  flex-shrink: 0;
  height: calc(100% - 64px);
  background-color: $gray000;

  &.active {
    background-color: $white;
  }
}
.adminSpacePermissionsPickerScroll {
  height: calc(100% - 64px);
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
.adminSpacePermissionsPickerScroll.noOverflow {
  overflow: hidden;
}

.adminSpacePermissionsSelectAllLink {
  color: $midnight;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  font-size: 14px;
  &:hover { opacity: 0.9; }
  &:active { opacity: 1; }
}

.adminSpacePermissionsPickerListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $fontSizeBase;

  padding-left: 24px;
}

.adminSpacePermissionsPickerListItemCheckbox { display: none; }
.adminSpacePermissionsPickerListItemLabel {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  color: $midnight;
}
.adminSpacePermissionsPickerListItemCheckbox:disabled + label {
  cursor: default;
  color: $gray500;
}
.adminSpacePermissionsPickerListItemCheckbox.active:checked:disabled + label {
  color: $midnight;
}
.adminSpacePermissionsPickerListItemCheckbox + label:before {
  content: ' ';
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
  width: 18px;
  height: 18px;
  padding-right: 4px;
  background-image: url($admin-space-permissions-picker-checkbox-unchecked-image);
  background-repeat: no-repeat;
  cursor: pointer;
}
.adminSpacePermissionsPickerListItemCheckbox:checked + label:before {
  background-image: url($admin-space-permissions-picker-checkbox-checked-image);
}
.adminSpacePermissionsPickerListItemCheckbox:disabled + label:before {
  background-image: url($admin-space-permissions-picker-checkbox-disabled-unchecked-image);
  cursor: default;
}
.adminSpacePermissionsPickerListItemCheckbox:disabled:checked + label:before {
  background-image: url($admin-space-permissions-picker-checkbox-disabled-checked-image);
  cursor: default;
}

.adminSpacePermissionsPickerListItem.depth0 { border-top: 1px solid $gray200; }
.adminSpacePermissionsPickerListItem.depth0:first-of-type { border-top: 0px; }

.adminSpacePermissionsPickerListItemIcon {
  margin-left: 8px;
  transform: translate(0px, 2px);
}
.adminSpacePermissionsPickerListItemName {
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.adminSpacePermissionsPickerListItemName.bold { font-weight: bold; }

.adminSpacePermissionsPickerListItemLabelSkeleton {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  margin-top: 7px;
}
