.exploreSpaceDailyPage {
  overflow-y: auto;
}

.exploreSpaceDailyTimeSegmentBox {
  width: 350px;
}

.exploreSpaceDailyContainer {
  padding-bottom: 200px;
}
.exploreSpaceDaily {
  margin: 0px auto;
  padding: 0 24px;
}

.exploreSpaceDailyItem {
  margin-bottom: 40px;
}
