@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/grid.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";

//
// Scaffolding
// --------------------------------------------------
.queueDetailPage {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

%queueSection {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .queueDetailPage {
    flex-direction: column;
  }

  %queueSection {
    height: 50%;
  }
}



//
// Action Section
// --------------------------------------------------
.queueActionSection {
  @extend %queueSection;
  background: $green;
  color: #ffffff;
}


// Settings Header
// --------------------
.queueSettingsButton {
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 4vw;
  width: 24px;
  height: 24px;
  opacity: .2;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.queueSettings {
  position: absolute;
  left: 36px;
  top: 28px;
  padding: 16px 8px 8px 8px;
  background: #ffffff;
  z-index: 9;
  color: $midnight;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
}

.queueSettingsHeader {
  display: flex;
  flex-direction: row;
}

.queueSettingsCloseButton {
  cursor: pointer;
}

.queueSettingsTitle {
  font-size: 32px;
}

.queueSetting {
  background: $grayLighter;
  padding: 16px;
}

.queueSettingHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


// Queue Action Status
// --------------------
%queueActionStatusMetaSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  padding-left: 4vw;
  margin-top: 15px;
}

// Queue Action Meta
// --------------------
.queueActionStatusMetaSectionTitle {
  font-size: 6vw;
  font-weight: 900;
  margin-bottom: 0;
  margin-left: 10px;
}

.queueCapacity {
  @extend %queueActionStatusMetaSection;
}


.queueWaitTime {
  @extend %queueActionStatusMetaSection;

  // this stinks, but the svg icon is not full width
  > svg {
    margin-left: -10px;
  }

  .queueActionStatusSectionTitle {
    margin-left: 6px;
  }
}

// Queue Action Text
// --------------------
.queueActionTextSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.queueActionText {
  position: absolute;
  bottom: -56px;
  margin-bottom: 0;
  transform: translate(-18px, 0);
  font-size: 25vw;
  font-weight: 900;
}




//
// Detail Section
// --------------------------------------------------
.queueDetailSection {
  @extend %queueSection;
  background: #ffffff;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

.queueDetailLogoSection {
  height: 8vh;

  img {
    height: 2.5vh;
    padding-top: 0.5vh;
  }
}

.queueSpaceNameSection {
  padding-left: 4vw;
  position: relative;
}

.queueSpaceName {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  padding-bottom: 4vh;
  margin-bottom: 0;
  font-size: 6vw;
  font-weight: 900;
  color: $midnight;
}

.queueMessageSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.queueMessage {
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 40px;
  font-size: 2.2vw;
  font-weight: 500;

  a {color: $blue;}
}

.queueMessageSupport {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 0;
}

.queueTallySection {
  background: $grayLight;
  margin-top: 100px;
  padding: 80px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.queueOccupancyContainer {
  display:flex;
  align-items: baseline;
  margin: auto;
  position: relative;
}

.queueOccupancyLabel {
  position: absolute;
  top: 0;
  right: 25px;
  margin: 0;
  font-size: 32px;
  font-weight: 900;
  color: $grayDark;
}

.queueOccupancy {
  font-size: 200px;
  font-weight: 900;
  margin: 0;
  color: $midnight;
}

.queueTallyController {
  width: 131px;
  height: 238px;
  background-size: 131px 238px;
  position: absolute;
  right: -93px;
  top: 0;
}

%queueTallyButton {
  width: 54px;
  height: 54px;
  position: absolute;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  border-radius: 50%;
  color: #ffffff;
  user-select: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, .4)
  }
}

.queueTallyIngress {
  @extend %queueTallyButton;
  background: $midnight;
  top: 10px;
  left: 10px;
}

.queueTallyEgress {
  @extend %queueTallyButton;
  background: $red;
  bottom: 8px;
  right: 12px;
}



