@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/spacing.scss";

.accountSetupDoorwayDetail {
  overflow-y: auto;
}

// This element is the smaller title that's visible above the card. It's roughly centered within the
// card's width.
.accountSetupDoorwayDetailTitle {
  color: $grayCinder;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;

  font-size: $fontSize2;
  font-weight: $fontWeight2;
}
// This element is the subtitle underneath of the main title.
.accountSetupDoorwayListSubtitle {
  color: $brandPrimary;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: $fontSize4;
  font-weight: normal;
  font-style: italic;
}

// The main card, which shows a bunch of static content informing the user about the process they
// are about to go through.
.accountSetupDoorwayDetailBodyContainer {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.accountSetupDoorwayDetailBody {
  margin-left: 20px;
  margin-right: 20px;
}

.accountSetupDoorwayDetailBodyHeader {
  color: $grayCinder;
  font-size: $fontSize2;
  margin-top: 60px;
}
.accountSetupDoorwayDetailBodyHeader:first-child {
  margin-top: 30px;
}
.accountSetupDoorwayDetailBodyHeader em {
  font-style: normal;
  color: $brandPrimary;
  margin-right: 8px; /* Needed to increase the distance between the mdash and the header */
}

.accountSetupDoorwayDetailBodySection {
  margin-top: 30px;
  margin-bottom: 20px;
  color: $grayDark;
  font-size: $fontSizeBase;
  font-weight: 400;
}

// The box that contains the guidelines for the user when measuring the doorway
.accountSetupDoorwayDetailBodyGuidelinesBox {
  background-color: $grayLightest;
  border-radius: $borderRadiusBase;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: $fontSizeBase;
  line-height: $fontSizeBase * 2;

  color: $grayDarker;
  width: calc(100% - 30px);
}
.accountSetupDoorwayDetailBodyGuidelinesBox ul { padding-left: 20px; }

// Container that has within the "ideal doorway" image.
.accountSetupDoorwayDetailBodyIdealImageContainer {
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountSetupDoorwayDetailBodyIdealImage {
  margin: -4px;
  border-radius: 4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
}

 
// A container to hold the 'Metric' and 'Imperial' radio buttons for picking the proper unit of
// measurement when measureing height and width of the doorway.
.accountSetupDoorwayDetailBodyMeasurementRadioContainer {
  display: flex;
  flex-direction: row;

  margin-top: 30px;
  margin-bottom: 20px;
}
// Add spacing between the 'Metric' and 'Imperial' radio buttons
.accountSetupDoorwayDetailBodyMeasurementRadioContainerItem { margin-right: 20px; }


.accountSetupDoorwayDetailBodySectionClearance {
  margin-top: 10px;
  margin-bottom: 40px;
  color: $grayDark;
  font-size: $fontSizeBase;
  font-weight: lighter;
}
.accountSetupDoorwayDetailClearanceGraphic { width: 100%; }

// A container to hold the 'Yes' and 'No' radio buttons for picking if there's enough space above a
// doorway to mount a sensor to the wall.
.accountSetupDoorwayDetailBodyClearanceRadioContainer {
  display: flex;
  flex-direction: row;

  margin-top: 10px;
  margin-bottom: 40px;
}
// Add spacing between the 'Yes' and 'No' radio buttons
.accountSetupDoorwayDetailBodyClearanceRadioContainerItem { margin-right: 20px; }


// Each input box within the main card (ie, text boxes and select boxes) has a label above it that
// describes its function.
.accountSetupDoorwayDetailBodyInputRequired {
  color: #ff5454;
}
.accountSetupDoorwayDetailBodyInputLabel {
  display: block;
  margin-bottom: 5px;

  color: $grayCinder;
  font-size: $fontSize5;
  font-weight: bold;
}
.accountSetupDoorwayDetailBodyInputLabelHighlight { color: $brandPrimary; margin-left: 10px; }
.accountSetupDoorwayDetailBodyInputLabel.mountingSpace { margin-top: 20px; }

// And, the text boxes that the labels are above are the full width (minus a 14px padding and 2px
// total in borders)
.accountSetupDoorwayDetailBodyInput { width: calc(100% - 14px - 1px - 1px); }

.accountSetupDoorwayDetailBodyPowerRadioButtonSpacer {
  height: 6px;
  width: 100%;
}

// The submit button, which moves to the next page of the process.
.accountSetupDoorwayDetailSubmit {
  margin-top: 20px;
}
.accountSetupDoorwayDetailSaveAddAnotherButton { margin-top: 10px; }

// Some basic styles for a loading indicator that is visible before the doorway detail page data is
// loaded.
.accountSetupDoorwayDetailLoading {
  text-align: center;
  margin-top: 100px;
  font-size: $fontSize3;
}
