@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";

.leftButton { margin-right: 8px; }
.rightButton { margin-left: 8px; }

.appBar { background-color: #fff; }

.adminLocations {
  overflow-y: auto;
  height: 100%;
}

.loadingWrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
}
