@import "@density/ui/variables/colors.scss";

.analyticsIntervalSelector {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 20px;
  white-space: nowrap;
  margin-right: 16px;
}
.analyticsIntervalLabel {
  color: $gray400;
  padding-right: 16px;
}
