@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";

.wrapper {
  height: 100%;
  width: 100%;
}

.controlBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  min-height: 80px;
  box-sizing: border-box;
  padding: 0 24px;
  border-bottom: 1px solid $gray300;
  font-family: $fontBase;
}
.controlBarSection {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.controlBarItem {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 20px;
}
