@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/spacing.scss";

.webhookCreateColumns {
  display: flex;
  flex-direction: row;
}

.webhookCreateColumn {
  box-sizing: border-box;
}
.webhookCreateColumn.left {
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.webhookCreateColumn.right {
  flex-grow: 0;
  flex-shrink: 0;
  width: 476px;

  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid $gray200;
}

.webhookCreateExample {
  color: $gray700;
  margin-bottom: 40px;

  p { font-size: $fontSizeBase; }

  p a { margin-left: 10px; }
  p:first-child { margin-bottom: 20px; }

  pre { font-size: 14px; }
}

.webhookCreateExamplePayload {
  padding: 20px;
  
  background-color: $gray000;
  color: $gray500;
  border: 1px solid $gray200;
  border-radius: $borderRadiusBase;

  font-family: $fontMonospace;
  font-size: $fontSizeBase;
  font-weight: $fontWeightBase;

  overflow-x: auto; 
}

