@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";


.exploreAlertManagementModalContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exploreAlertManagementModalBody {
  flex-grow: 1;
  padding: 24px;
}

.exploreAlertManagementModalFormRow {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exploreAlertManagementModalFormRow:last-of-type {
  margin-bottom: 0;
}
