@import "@density/ui/variables/colors.scss";

.appBarSubnav {
  display: flex;
  box-sizing: border-box;
  height: 64px;
}

.appBarSubnavLink {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 16px;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  font-size: 16px;
  color: $grayDarker;
  text-decoration: none;
}

.appBarSubnavLink.selected {
  color: $brandPrimary;
  border-bottom-color: $brandPrimary;
}
