@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/spacing.scss";
$accountRegistrationSectionWidth: 560px;

.accountRegistrationView {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.accountRegistrationSection {
  flex-grow: 0;
  box-sizing: border-box;
  height: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #fff;
}

.accountRegistrationDensityLogo {
  display: block;
  height: 24px;
  margin-bottom: 24px;
}
.accountRegistrationDensityLogo img {
  height: 100%;
  width: auto;
}

.accountRegistrationLead {
  margin-bottom: 80px;
  color: $grayCinder;
  font-weight: bold;
}

// The header that is above each input box
.accountRegistrationLabel {
  display: block;
  font-size: 12px;
  color: $grayCinder;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}
.accountRegistrationLabelRequired {
  color: $brandPrimary;
  margin-left: 3px;
}

// Make each input full width within the card.
.accountRegistrationInput {
  width: 100%;
  box-sizing: border-box;
}

.accountRegistrationConsentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
}

.accountRegistrationConsentLabel {
  display: flex;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid $grayLight;
  border-radius: 4px;
  color: $grayDarker;

  p {
    font-size: $fontSize4;
    line-height: 20px;
  }

  &:hover {
    background-color: $grayLightest;
    cursor: pointer;
  }
}

.accountRegistrationCheckbox {
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 4px;
  margin-right: 16px;
}



// ------------------------------------------------
// Desktop Styles
// ------------------------------------------------
@media (min-width: 450px) {
  // anything above mobile
  .accountRegistrationSection {
    box-sizing: border-box;
    width: $accountRegistrationSectionWidth;
    padding-left: 64px;
    padding-right: 64px;
  }
}
