@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";

.analyticsControlBar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 64px;
  box-sizing: border-box;
  padding: 0 24px;
  border-bottom: 1px solid #E8E8ED;
  font-family: "Aeonik", "Helvetica", "Arial", sans-serif;
}
.analyticsControlBarSectionWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 16px;
  color: $gray;
}
.analyticsControlBarSection {
  display: flex;
  align-items: center;
  height: 48px;
  margin-top: 8px;
  border-left: 1px solid $gray;
  padding-left: 24px;
}

.spaceSelectorWrapper {
  position: relative;
}

$deleteButtonSpacing: 4px;
.deleteButtonWrapper {
  position: absolute;
  top: -11px;
  left: (-20px - 12px - $deleteButtonSpacing);
  width: 20px;
  height: 20px;
  padding-right: $deleteButtonSpacing;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;

  opacity: 0;
  pointer-events: none;
}
.deleteButtonWrapper.visible {
  opacity: 1;
  pointer-events: auto;
}

.header {
  width: 400px;
  background-color: $grayLightest;
}
.back {
  margin-right: 16px;
}
.popupBody {
  height: 300px;
  overflow-y: auto;
}
.popupBodySmall { width: 300px; }

.analyticsSpaceFilterList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: $gray;
}
.analyticsSpaceFilterListItem {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.analyticsSpaceFilterListItem:first-of-type { margin-left: 0px; }


.analyticsIntervalSelector {
  white-space: nowrap;
  width: 120px;
}
.analyticsIntervalLabel {
  color: $gray;
  padding-left: 16px;
  padding-right: 16px;
}


.dateSelectorCustomWrapper {
  display: flex;
  flex-direction: column;
  height: 564px;
  width: 400px;
}
.dateSelectorCustomBody {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
  padding: 24px;
}
.dateSelectorCustomBodyItem {
  padding-top: 4px;
  padding-bottom: 4px;
  flex-grow: 0;
  flex-shrink: 0;
}
.dateSelectorCustomBodyItem:first-child { padding-top: 0px; }


.dateSelector {
  white-space: nowrap;
}
.dateSelectorLabel {
  color: $gray;
  padding-left: 16px;
  padding-right: 16px;
}
