@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";

.analyticsControlBar {
  color: red;
}





.header {
  width: 400px;
  background-color: $grayLightest;
}
.back {
  cursor: pointer;
  margin-right: 16px;
  outline: none;
}
.popupBody {
  height: 300px;
  overflow-y: auto;
}
.popupBodySmall {
  width: 300px;
}





.itemList {
  padding: 0px;
  margin: 0px;
  list-style: none;
  padding: 8px;
}

.itemList li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;

  border-radius: $borderRadiusBase;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.itemList li:hover { background-color: $grayLighter; }
.itemList li:focus {
  background-color: $grayLighter;
}
