@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";

.spaceSelectorWrapper {
  position: relative;
}

$deleteButtonSpacing: 4px;
.deleteButtonWrapper {
  position: absolute;
  top: -11px;
  left: (-20px - 12px - $deleteButtonSpacing);
  width: 20px;
  height: 20px;
  padding-right: $deleteButtonSpacing;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;

  opacity: 0;
  pointer-events: none;
}
.deleteButtonWrapper.visible {
  opacity: 1;
  pointer-events: auto;
}

.header {
  width: 400px;
  background-color: $grayLightest;
}
.back {
  margin-right: 16px;
}
.popupBody {
  height: 300px;
  overflow-y: auto;
}
.popupBodySmall { width: 300px; }
.submitButton {
  width: 100%;
  height: 56px;
  background-color: $grayCinder;
  border: 0px;
  color: #fff;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  font-weight: 500;
  cursor: pointer;
}
.submitButton[disabled] {
  background-color: $grayDark;
  cursor: default;
}

// hack so that focus styles only show when keyboard focuses the control
// see https://stackoverflow.com/a/45191208/4115328
.submitButton:focus, .submitButton .inner { outline: none; }
.submitButton:focus > .inner { text-decoration: underline; }

.analyticsSpaceFilterList {
  display: flex;
  align-items: center;
  color: $gray;
}
.analyticsSpaceFilterListItem {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
}
.analyticsSpaceFilterListItem:first-of-type { margin-left: 0px; }


.analyticsIntervalSelector { width: 120px; }
.analyticsIntervalLabel {
  color: $gray;
  padding-left: 16px;
  padding-right: 16px;
}
