@import "@density/ui/variables/colors.scss";
.errorBar {
  height: 34px;
  background-color: $red;
  color: #FFF;

  // Provide padding to match the navbar style.
  padding-left: 18px;
  padding-right: 18px;

  // Align the error bar to the top of the container.
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: -2px;

  text-align: center;
  line-height: 34px;
  z-index: 10000;

  // Hide the error bar.
  display: none;
}
.errorBarVisible {
  display: block;
}

// When a modal is visible, show the error bar at the very top of the screen.
.errorBarOverModal { top: 2px; }

// The "refresh" link on the error bar, which is optional.
.errorBarLink {
  text-decoration: underline;
  margin-left: 10px;
  cursor: pointer;
  &:active { opacity: 0.8; }
}
