.explore-space-data-export-page {
  overflow-y: auto;
}

.explore-space-data-export-time-segment-box {
  width: 250px;
}

.explore-space-data-export-container {
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.explore-space-data-export {
  margin: 0px auto;
}

.explore-space-data-export-item {
  margin-bottom: 40px;
}
