@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";

.scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: $grayLightest;
}

.wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 24px;
  overflow-x: auto;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  width: 100%;
  max-width: 800px;
  border: 1px solid $grayLight;
  border-radius: $borderRadiusBase;
  background-color: #fff;

  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}
