.explore-space-meetings-robin-image {
  margin-right: 16px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.explore-space-meetings-centered-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 64px);
}

.explore-space-meetings-integration-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border: 1px solid $gray;
  border-radius: $border-radius-base;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.05);
  height: 72px;

  padding-left: 24px;
  padding-right: 24px;
}
.explore-space-meetings-integration-cta-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 24px;
  user-select: none;
}

.explore-space-meetings-integration-density-wrapper {
  margin-right: 8px;
  background-color: $gray-cinder;
  width: 30px;
  height: 30px;
  border-radius: $border-radius-small;
}
.explore-space-meetings-integration-integration-wrapper {
  width: 28px;
  height: 28px;
  margin-left: 8px;
  margin-right: 24px;
}

.explore-space-meetings-report-grid {
  display: flex;
  flex-direction: column;

  width: 1064px;
  margin-top: 78px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 1524px) {
  .explore-space-meetings-report-grid { flex-direction: row; }
}
.explore-space-meetings-report-column {
  width: 520px;
  display: flex;
  flex-direction: column;
}
.explore-space-meetings-report-column.left { margin-right: 12px; }
.explore-space-meetings-report-column.right { margin-left: 12px; }

.explore-space-meetings-report-container { margin-bottom: 24px; }



.explore-space-meetings-refresh-button {
  margin-left: 24px;
  cursor: pointer;
  transform: translateY(3px);
}
.explore-space-meetings-refresh-button:hover { opacity: 0.9; }
.explore-space-meetings-refresh-button:active { opacity: 1; }
