@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";

.robinImage {
  margin-right: 16px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.centeredMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 64px);
}

.integrationCta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border: 1px solid $gray;
  border-radius: $borderRadiusBase;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.05);
  height: 72px;

  padding-left: 24px;
  padding-right: 24px;
}
.integrationCtaLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 24px;
  user-select: none;
}

.integrationDensityWrapper {
  margin-right: 8px;
  background-color: $grayCinder;
  width: 30px;
  height: 30px;
  border-radius: $borderRadiusSmall;
}
.integrationIntegrationWrapper {
  width: 28px;
  height: 28px;
  margin-left: 8px;
  margin-right: 24px;
}

.reportGrid {
  display: flex;
  flex-direction: column;

  width: 1064px;
  margin-top: 78px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 1524px) {
  .reportGrid { flex-direction: row; }
}
.reportColumn {
  width: 520px;
  display: flex;
  flex-direction: column;
}
.reportColumn.left { margin-right: 12px; }
.reportColumn.right { margin-left: 12px; }

.reportContainer { margin-bottom: 24px; }



.refreshButton {
  margin-left: 24px;
  cursor: pointer;
  transform: translateY(3px);
}
.refreshButton:hover { opacity: 0.9; }
.refreshButton:active { opacity: 1; }
