@import "@density/ui/variables/colors.scss";
.appBarWrapper { background-color: #fff; }

.moduleContainer {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $gray000;
  height: 100%;
}
.moduleLeftNav {
  padding: 64px;
}
.moduleMainSection {
  margin-top: 64px;
}
.moduleLink {
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
.moduleWrapper {
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 848px;
  box-sizing: border-box;
}

.arrow {
  cursor: pointer;
  margin-right: 16px;
  &:hover { opacity: 0.9; }
  &:active { opacity: 1; }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
}
