.exploreSpaceTrendsPage {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.exploreSpaceTrendsTimeSegmentBox {
  width: 350px;
}

.exploreSpaceTrendsContainer {
  padding-bottom: 200px;
}
.exploreSpaceTrends {
  margin: 0px auto;
  padding: 0 24px;
}

.exploreSpaceTrendsItem {
  margin-bottom: 40px;
}

.exploreSpaceTrendsItem div {
  max-width: none;
}
