@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/spacing.scss";

.module {
  background-color: #fff;

  width: 960px;
  border: 1px solid $gray200;
  border-radius: $borderRadiusBase;
}
.moduleError { border-color: $red; }
.moduleHideOverflow { overflow: hidden; }
.moduleBody.padding {
  padding: 24px;
  padding-top: 18px;
}
