@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/spacing.scss";

.module {
  background-color: #fff;

  width: 818px;
  border: 1px solid $grayLight;
  border-radius: $borderRadiusBase;

  // overflow: hidden;
}
.moduleError { border-color: $brandDanger; }
.moduleHideOverflow { overflow: hidden; }
.moduleBody.padding {
  padding: 24px;
  padding-top: 18px;
}
