@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/spacing.scss";

.module {
  background-color: #fff;

  width: 818px;
  border: 1px solid $grayLight;
  border-radius: $borderRadiusBase;
}
.moduleError { border-color: $brandDanger; }
.moduleBody.padding {
  padding: 24px;
  padding-top: 18px;
}




.generalInfo {
  display: flex;
  flex-direction: row;
}
.generalInfoColumn { width: 50%; }
.generalInfoColumn.left { margin-right: 20px; }
.generalInfoColumn.right { margin-left: 20px; }




.spaceFieldRendererRow {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}
.spaceFieldRendererRow:first-child { margin-top: 0px; }
.spaceFieldRendererCell {
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}
.spaceFieldRendererCell.left {
  padding-left: 0px;
  padding-right: 20px;
}
.spaceFieldRendererCell.right {
  padding-left: 20px;
  padding-right: 0px;
}


.modulesMetadataDropdowns { margin-left: 8px; }



.dangerZoneWrapper { display: flex; }
.dangerZoneLeft {
  flex-grow: 1;
  flex-shrink: 1;
}
.dangerZoneLeft h4 {
  margin-top: 0px;
  margin-bottom: 8px;
}
.dangerZoneRight {
  display: flex;
  align-items: center;
}

.operatingHoursSliderWrapper {
  position: relative;
  padding-top: 36px;
  padding-bottom: 16px;
}

.operatingHoursSliderTrack {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: $gray;
}

.operatingHoursSliderTrackFilledSection {
  position: absolute;
  background-color: $brandPrimary;
  height: 100%;
}

.operatingHoursSliderHead {
  position: absolute;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-top: -10px;

  color: #fff;
  font-size: 14px;
  background-color: $brandPrimary;
  user-select: none;
  cursor: pointer;
}
.operatingHoursSliderHead:hover { background-color: darken($brandPrimary, 5%); }
.operatingHoursSliderHead:active { background-color: darken($brandPrimary, 10%); }

.operatingHoursLabelContainer {
  position: relative;
  margin-top: 16px;
  font-size: 14px;

  height: 0px; /* can't get pointer events none to work right without this in this case? */
  user-select: none;
  pointer-events: none;
}
.operatingHoursLabel {
  position: absolute;
  transform: translate(-50%, 0px);
}



.operatingHoursLeft {
  display: flex;
  align-items: center;
}
.operatingHoursLeft label { margin-right: 8px; }
.operatingHoursRight {
  display: flex;
  align-items: center;
}
.operatingHoursRight label { margin-right: 8px; }




.operatingHoursTimeSegmentItem { background-color: $grayLightest; }
.operatingHoursTimeSegmentItemSection {
  padding-left: 24px;
  padding-right: 24px;
}

.operatingHoursAddLabel {
  display: flex;
  align-items: center;
  color: $brandPrimary;
  font-weight: bold;
  font-size: 14px;
}
.operatingHoursAddLabel > span { margin-left: 8px; }

.operatingHoursDayOfWeekLabel {
  margin-right: 16px;
  color: $grayDarkest;
}

.operatingHoursCopyFromSpaceButton {
  margin-right: 8px;
}

.operatingHoursCopyFromSpaceModalContainer {
  overflow-y: auto;
  height: calc(100% - 64px - 64px - 64px);
}
.operatingHoursCopyFromSpaceModalItem {
  display: flex;
  align-items: center;
  font-size: $fontSizeBase;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}
.operatingHoursCopyFromSpaceModalItem.depth0 { border-top: 1px solid $gray; }

.operatingHoursCopyFromSpaceModalItemIcon { margin-right: 8px; }

.operatingHoursCopyFromSpaceModalItemName.bold { font-weight: bold; }
