.dashboard-app-frame-scroll-body-spacer {
  height: 150px;
}

.dashboard-sidebar-hide-show-icon {
  cursor: pointer;
  display: none;
  margin-right: 24px;
}
@media (min-width: $screen-sm-max) {
  .dashboard-sidebar-hide-show-icon { display: block; }
}
.dashboard-sidebar-hide-show-icon:hover { opacity: 0.8; }
.dashboard-sidebar-hide-show-icon:active { opacity: 1; }

.dashboard-app-frame-sidebar-list {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}

.dashboard-app-frame-sidebar-list-item {
  display: block;
  text-decoration: none;
  color: $gray-darker;
}

.dashboard-app-bar {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 80px;
  padding-left: 32px;
  padding-right: 16px;
  border-bottom: 1px solid $gray-light;
}

.dashboard-app-bar-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}


.dashboard-sidebar-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid $gray-light;
}
.dashboard-sidebar-item:hover { background-color: $gray-lightest; }

.dashboard-sidebar-item-name {
  color: $gray-darkest;

  font-size: 16px;
  font-weight: 600;
  margin-right: auto;
  padding-right: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 150ms ease-in-out;
}
.dashboard-sidebar-item.selected .dashboard-sidebar-item-name { color: $brand-primary-new; }
.dashboard-sidebar-item:hover .dashboard-sidebar-item-name { color: $gray-cinder; }

.dashboard-sidebar-item-num-reports {
  flex-grow: 0;
  flex-shrink: 0;

  color: $gray-darker;
  font-size: 12px;
  font-weight: bold;
  margin-right: 4px;
  white-space: nowrap;

  transition: color 150ms ease-in-out;
}
.dashboard-sidebar-item.selected .dashboard-sidebar-item-num-reports { color: $brand-primary-new; }
.dashboard-sidebar-item:hover .dashboard-sidebar-item-num-reports { color: $gray-cinder; }




.dashboard-wrapper {
  width: 100%;
  max-width: 1440px;

  animation: fadeInUp 0.4s ease-out;
}
.dashboard-wrapper-inner {
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 375px) {
  .dashboard-wrapper-inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.dashboard-header {
  color: $gray-darkest;
  font-size: 22px;
  border-bottom: 2px solid $gray;
  margin-top: 40px;
  padding-bottom: 10px;
}

.dashboard-non-ideal-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 48px;
  padding-left: 24px;

  height: 400px;
  color: $gray-cinder;
}

.dashboard-loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90vh;
  color: $gray-cinder;
}

.dashboard-loading {
  width: 100%;
  max-width: 500px;

  animation: fadeInUp 0.4s ease-out;
}

// animation used for loading states
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.dashboard-page-header-wrapper {
  background-color: #fff;
  height: 64px;

  /* This all has to be here to left align the text with the navbar. Have I mentioned how much I
   * want to write a new one? */
  padding-left: 20px;
  @media (min-width: 768px) { padding-left: 40px; }
  @media (min-width: 1500px) { padding-left: 60px; }
}
.dashboard-page-header {
  margin: 0px auto;
  max-width: 1440px;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-page-header h1 {
  margin: 0px;
  font-size: 24px;
  color: $gray-cinder;
}
