@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";

@import '../../styles/shadows.scss';

.appFrameWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.loadingSpaces {
  margin-left: 24px;
  margin-top: 20px;
  color: $gray300;
}

.spacesNavCollapseToggle {
  position: absolute;
  transition: left 200ms ease-in-out;
  top: 59px;
  left: 253px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 4px $midnightTransparent10;
  border: 1px solid $gray200;
  cursor: pointer;

  &:hover {
    border-color: $blue;
    box-shadow: 0 0 0 1px $blue;
  }
}
// This isn't being used, I think it's fine to put these values inline on the component
.spacesNavCollapseToggleCollapsed {
  left: 4px;
}

.spaceDetailBar {
  width: 384px;
  border-left: 1px solid $gray200;
  flex-shrink: 0;
}

.spaceReportHeader:first-of-type {
  margin-top: 0;
}
.spaceReportHeader {
  margin-top: 80px;
  margin-bottom: 64px;
  padding-top: 8px;
  border-top: 1px solid $gray300;
  font-size: 24px;
  font-weight: 400;
  color: $midnight;
}

.searchBoxContainer {
  background-color: $gray100;
  padding: 16px;
  border-bottom: 1px solid $gray200;
}
