@import "@density/ui/variables/colors.scss";

.scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: $grayLightest;
}

.wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 24px;
  overflow-x: auto;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.leftPaneMap { padding: 24px; }

.sidebar {
  height: 100%;
  margin-bottom: -1px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
