@import "@density/ui/variables/colors.scss";

.scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: $gray000;
}

.wrapper {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 24px;
  overflow-x: auto;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leftPaneMap { padding: 24px; }
