// ------------------------------------------------
// Log In View
// ------------------------------------------------

// Variables
// ---------------------------------
$login-section-width: 468px;
$z-index-toast: 2000;


// Scaffolding
// ---------------------------------

.login {
  height: 100%;
  overflow-y: auto;
}

.login-section {
  height: 100%;
  margin: 0px auto;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
}


// Banner
// ---------------------------------

.login-density-logo {
  display: block;
  height: 24px;
  margin-bottom: 24px;
}
.login-density-logo img {
  height: 100%;
  width: auto;
}

.login-lead {
  margin-bottom: 40px;
  font-size: 18px;
  color: $gray-darker;
}


// Log In Form
// ---------------------------------

.login-submit-button {
  margin-top: 30px;
  width: 100%;
}

// Hacking the Google SSO button
.login-submit-button.google {
  margin-top: 0;
}
.login-submit-button.google button {
  display: flex;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  align-items: center;
  justify-content: center;
  height: 43px;
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 0;
  background-color: #fff;
  border: 1px solid $gray-cinder;
  text-align: center;
  line-height: normal;
  color: $gray-cinder;
}
.login-submit-button .icon-google-login {
  margin-top: -4px;
  padding-right: 8px;
  vertical-align: middle;
}
.login-submit-button.google button:hover {
  border-color: $brand-primary;
}

// Divider for SSO and standard auth
.login-sso-divider {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  text-align: center;
}

.login-action-secondary {
  display: inline-block;
  margin-top: 40px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: $brand-primary;
  cursor: pointer;
}


// Footer
// ---------------------------------

.login-terms-and-privacy {
  padding-top: 80px;
  padding-bottom: 64px;
}

// Log in toast
// ---------------------------------
.login-toast {
  position: absolute;
  top: 61px;
  z-index: $z-index-toast;
  box-sizing: border-box;
  width: $login-section-width - 48px;
}
.login-toast-header {
  color: $brand-danger;
  font-size: $font-size-4;
  font-weight: $font-weight-4;
  margin-bottom: 8px;
  margin-top: 8px;
}
.login-toast-icon {
  font-family: "Densicons";
  font-size: $font-size-3;
}


// ------------------------------------------------
// Forgot Password View
// ------------------------------------------------
.login-password-reset-title {
  font-size: $font-size-3;
  font-weight: normal;
  margin-bottom: 40px;
}

.login-form-reset .input-stack-item-container,
.login-form-reset .input-stack-item-container:first-child,
.login-form-reset .input-stack-item-container:last-child {
  border-radius: 5px;
}




// ------------------------------------------------
// Desktop Styles
// ------------------------------------------------
@media (min-width: 450px) {
  // anything above mobile
  .login-section {
    box-sizing: border-box;
    width: $login-section-width;
    padding-left: 24px;
    padding-right: 24px;
  }

  // Wrapper for the login form
  .login-form-container {
    padding: 32px;
    background-color: #fff;
    border: 1px solid $gray-light;
    box-shadow: 6px 6px 0 rgba(0,0,0,0.06);
  }
}
