@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";
@import "@density/ui/variables/spacing.scss";

// Variables
// ---------------------------------
$loginSectionWidth: 468px;
$zIndexToast: 2000;


// Scaffolding
// ---------------------------------

.login {
  height: 100%;
  overflow-y: auto;
}

.loginSection {
  height: 100%;
  margin: 0px auto;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 24px;
  padding-right: 24px;
}


// Banner
// ---------------------------------

.loginDensityLogo {
  display: block;
  height: 24px;
  margin-bottom: 24px;
}
.loginDensityLogo img {
  height: 100%;
  width: auto;
}

.loginLead {
  margin-bottom: 40px;
  font-size: 18px;
  color: $grayDarker;
}


// Log In Form
// ---------------------------------

.loginSubmitButton {
  margin-top: 30px;
  width: 100%;
}

// Hacking the Google SSO button
.loginSubmitButton.google {
  margin-top: 0;
}
.loginSubmitButton.google button {
  display: flex;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  align-items: center;
  justify-content: center;
  height: 43px;
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 0;
  background-color: #fff;
  border: 1px solid $grayCinder;
  text-align: center;
  line-height: normal;
  color: $grayCinder;
}
.loginSubmitButton .iconGoogleLogin {
  margin-top: -4px;
  padding-right: 8px;
  vertical-align: middle;
}
.loginSubmitButton.google button:hover {
  border-color: $brandPrimary;
}

// Divider for SSO and standard auth
.loginSsoDivider {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: $fontSizeBase;
  text-align: center;
}

.loginActionSecondary {
  display: inline-block;
  margin-top: 40px;
  font-size: 14px;
  text-decoration: underline;
  color: $brandPrimary;
  cursor: pointer;
}


// Footer
// ---------------------------------

.loginTermsAndPrivacy {
  padding-top: 80px;
  padding-bottom: 64px;
  color: $grayDarker;

  a {
    color: $grayDarkest;
  }
}

// Log in toast
// ---------------------------------
.loginToast {
  position: absolute;
  top: 61px;
  z-index: $zIndexToast;
  box-sizing: border-box;
  width: $loginSectionWidth - 48px;
}
.loginToastHeader {
  color: $brandDanger;
  font-size: $fontSize4;
  font-weight: $fontWeight4;
  margin-bottom: 8px;
  margin-top: 8px;
}
.loginToastIcon {
  font-family: "Densicons";
  font-size: $fontSize3;
}


// ------------------------------------------------
// Forgot Password View
// ------------------------------------------------
.loginPasswordResetTitle {
  font-size: $fontSize3;
  font-weight: normal;
  margin-bottom: 40px;
}

.loginFormReset .inputStackItemContainer,
.loginFormReset .inputStackItemContainer:first-child,
.loginFormReset .inputStackItemContainer:last-child {
  border-radius: 5px;
}
.loginFormResetHeader { margin-bottom: 24px; }




// ------------------------------------------------
// Desktop Styles
// ------------------------------------------------
@media (min-width: 450px) {
  // anything above mobile
  .loginSection {
    box-sizing: border-box;
    width: $loginSectionWidth;
    padding-left: 24px;
    padding-right: 24px;
  }

  // Wrapper for the login form
  .loginFormContainer {
    padding: 32px;
    background-color: #fff;
    border: 1px solid $grayLight;
    box-shadow: 6px 6px 0 rgba(0,0,0,0.06);
    border-radius: $borderRadiusBase;
  }
}
