@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/colors.scss";

.wrapper {
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: $borderRadiusBase;
  overflow: hidden;
}
