@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/fonts.scss";

.listView {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.listViewHeader {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 24px;
  border-bottom: 1px solid $grayLight;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}
:first-child > .listViewHeader { padding-left: 0px; }
:last-child > .listViewHeader { padding-right: 0px; }

.listViewCell {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 24px;
  border-bottom: 1px solid $grayLight;
  font-size: $fontSizeBase;
  color: $grayDarkest;
}
:first-child > .listViewCell, :first-child > a > .listViewCell { padding-left: 0px; }
:last-child > .listViewCell, :last-child > a > .listViewCell { padding-right: 0px; }

.listViewCell.clickable { cursor: pointer; }

.listViewClickableLink {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: underline;
  font-weight: 500;
  color: $brandPrimary;
  cursor: pointer;
}
.listViewColumn > a { text-decoration: none; }
