.admin-user-management-detail {
  background-color: #fff;
  height: 100%;
}

.admin-user-management-detail-main-arrow {
  cursor: pointer;
  &:hover { opacity: 0.9; }
  &:active { opacity: 1; }
}

.admin-user-management-detail-main-title {
  margin-left: 24px;
}

.admin-user-management-detail-bottom-app-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.admin-user-management-detail-columns {
  position: absolute;
  top: 64px + 41px;
  left: 0px;
  right: 0px;
  bottom: 64px;

  display: flex;
}
.admin-user-management-detail-column.left {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 480px;
  flex-grow: 1;
  flex-shrink: 1;

  border-right: 1px solid $gray;
}
.admin-user-management-detail-column.right {
  overflow: auto;
  width: 960px;
  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
}

.admin-user-management-user-info {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin-left: 24px;
  margin-right: 24px;
}

.admin-user-management-user-info-name {
  font-size: 28px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 12px;
}
.admin-user-management-user-info-email {
  color: $gray-darker;
  font-size: 16px;
  margin-bottom: 24px;
}
.admin-user-management-user-info-role-tag {
  display: inline-block;
  color: $brand-primary;
  border: 1px solid $brand-primary;
  border-radius: 4px;
  padding: 4px;
  user-select: none;
  cursor: default;
}
@media (min-width: $screen-md-max) {
  .admin-user-management-user-info-name { font-size: 40px; }
  .admin-user-management-user-info-email { font-size: 20px; }
}

.admin-user-management-user-info-details {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 42px;
  color: $gray-darker;
  font-size: 16px;
}
.admin-user-management-user-info-details li { margin-top: 4px; }



.admin-user-management-detail-column-right-subcolumns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 40px;
}
.admin-user-management-detail-column-right-subcolumn {
  flex-grow: 1;
  flex-shrink: 1;
}
.admin-user-management-detail-column-right-subcolumn.left { margin-right: 22px; }
.admin-user-management-detail-column-right-subcolumn.right { margin-left: 22px; }

.admin-user-management-detail-card {
  background-color: #fff;
  border: 1px solid $gray;
  border-radius: $border-radius-base;
  margin-bottom: 44px;
  width: 391px;
}
.admin-user-management-detail-card-body {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}



.admin-user-management-detail-cancel-link {
  color: $brand-primary;
  user-select: none;
  text-decoration: underline;
  margin-right: 24px;
  cursor: pointer;
  &:hover { opacity: 0.9; }
  &:active { opacity: 1; }
}
