@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";

.adminUserManagementDetailAppBar {
  background-color: #fff;
}

.adminUserManagementDetail {
  background-color: #fff;
  height: 100%;
}

.adminUserManagementDetailLoading,
.adminUserManagementDetailError {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.adminUserManagementDetailMainArrow {
  cursor: pointer;
  &:hover { opacity: 0.9; }
  &:active { opacity: 1; }
}

.adminUserManagementDetailMainTitle {
  margin-left: 24px;
}

.adminUserManagementDetailWrapper {
  position: absolute;
  top: 64px + 41px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;

  background-color: $grayLighter;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.adminUserManagementDetailColumns {
  display: flex;
  flex-basis: auto;
  min-height: calc(100vh - 64px - 64px - 41px);
}
.adminUserManagementDetailColumn.left {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;

  width: 360px;
  padding-top: 40px;

  border-right: 1px solid $gray;
}
.adminUserManagementDetailColumn.right {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  justify-content: center;
  overflow-y: auto;
}
@media (min-width: 1280px) {
  .adminUserManagementDetailColumn.right {
    width: 760px;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.adminUserManagementUserInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
}

.adminUserManagementUserInfoAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  height: 64px;
  width: 64px;
  background-color: $grayDarker;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  user-select: none;
}
.adminUserManagementUserInfoTitle {
  flex-grow: 1;
  padding-left: 16px;
}
.adminUserManagementUserInfoName {
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 4px;
}
.adminUserManagementUserInfoEmail {
  color: $grayDarker;
  font-size: 16px;
}
.adminUserManagementUserInfoRoleTag {
  color: $brandPrimary;
  border: 1px solid $brandPrimary;
  border-radius: 4px;
  padding: 10px;
  user-select: none;
  cursor: default;
}

.adminUserManagementUserInfoDetails {
  padding-left: 0px;
  list-style-type: none;
  margin-top: 42px;
  color: $grayDarker;
  font-size: $fontSizeBase;
}
.adminUserManagementUserInfoDetailsItem {
  margin-bottom: 4px;
  margin-left: 24px;
}
.adminUserManagementUserInfoDetailsItem:last-child { margin-bottom: 0; }

.adminUserManagementDetailSection {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.adminUserManagementDetailSection:first-child { margin-top: 64px; }
.adminUserManagementDetailSection:last-child { margin-bottom: 64px; }

.adminUserManagementDetailCard {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid $gray;
  border-radius: $borderRadiusBase;
  overflow: hidden;
  width: 100%;
}
.adminUserManagementDetailCardDanger {
  border-color: $brandDanger;
}
.adminUserManagementDetailCardBody {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.adminUserManagementDetailActionDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminUserManagementDetailActionDetailInfo {}
.adminUserManagementDetailActionDetailHeader {
  margin-top: 0;
  margin-bottom: 8px;
}
.adminUserManagementDetailActionDetailLead { margin: 0; }
