.webhook-create-columns {
  display: flex;
  flex-direction: row;
  height: 372px;
}

.webhook-create-column {
  flex-grow: 0;
  flex-shrink: 0;
  width: 50%;
  box-sizing: border-box;
}
.webhook-create-column.left {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 12px;
}
.webhook-create-column.right {
  padding-top: 24px;
  padding-left: 12px;
  padding-right: 24px;
}

.webhook-create-example {
  color: $gray-darkest;
  margin-bottom: 40px;

  p { font-size: 16px; }

  p a { margin-left: 10px; }
  p:first-child { margin-bottom: 20px; }
}

.webhook-create-example-payload {
  background-color: $gray-lightest;
  color: $gray-darker;
  border: 1px solid $gray-light;
  border-radius: $border-radius-base;

  font-family: $font-monospace;
  font-size: $font-size-base;
  font-weight: $font-weight-base;

  padding: 20px;
}

