.analyticsLineChart {
  // height: assigned by component
  width: 100%;
  position: relative;
  background-color: #fafafa;
}

/** 
 * This is already positioned by its parent, 
 * but needs to be moved to center about its position and then be styled
 */
.datetimeTooltip {
  position: absolute;
  // this does the centering
  transform: translate(-50%, 0);
  white-space: nowrap;
  font-size: 12px;
  color: #fff;
  background-color: #0d183a;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.08);
}
