$dashboard-dispatch-backdrop-z-index: 99999;

.dashboard-dispatch-list { position: relative; }

.dashboard-dispatch-backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: $dashboard-dispatch-backdrop-z-index;
  display: none;
}
.dashboard-dispatch-backdrop.visible { display: block; }


.dashboard-dispatch-list-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;

  color: $brand-primary-new;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid $gray-cinder;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  outline: none;
}
.dashboard-dispatch-list-button.visible {
  position: relative;
  z-index: $dashboard-dispatch-backdrop-z-index + 1;
}
.dashboard-dispatch-list-button:focus { border-color: $brand-primary-new; }

.dashboard-dispatch-list-button-text {
  margin-left: 8px;
  margin-right: 16px;
  transform: translate(0px, 2px);
}


.dashboard-dispatch-list-dropdown {
  position: absolute;
  right: 0px;
  width: 591px;
  z-index: 999999;

  margin-top: 8px;

  background-color: #fff;
  border: 1px solid $gray;

  opacity: 0;
  transition: all 150ms ease-in-out;
  pointer-events: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.dashboard-dispatch-list-dropdown.visible {
  pointer-events: auto;
  opacity: 1;
}


.dashboard-dispatch-list-dropdown-create-button {
  display: flex;
  align-items: center;
  color: $brand-primary;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}
.dashboard-dispatch-list-dropdown-create-button:hover { opacity: 0.9; }
.dashboard-dispatch-list-dropdown-create-button:active { opacity: 1; }
.dashboard-dispatch-list-dropdown-create-button-text { margin-left: 8px; }


.dashboard-dispatch-list-dropdown-list {
  padding-left: 24px;
  padding-right: 24px;
}
.dashboard-dispatch-list-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
}

.dashboard-dispatch-list-dropdown-item-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 196px;
  overflow: hidden;
}

.dashboard-dispatch-list-dropdown-item-edit {
  color: $brand-primary;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}
.dashboard-dispatch-list-dropdown-item-edit:hover { opacity: 0.9; }
.dashboard-dispatch-list-dropdown-item-edit:active { opacity: 1; }

.dashboard-dispatch-list-dropdown-item-interval {
  font-weight: 500;
  user-select: none;
  cursor: default;
}
.dashboard-dispatch-list-dropdown-item-interval-text {
  margin-left: 8px;
  font-size: 14px;
}
