@import "@density/ui/variables/colors.scss";

.selector {
  white-space: nowrap;
}
.label {
  color: $gray;
  padding-left: 16px;
}

.metricSelectionBetaTag {
  text-transform: uppercase;
  color: $grayDark;
  font-size: 11px;
  vertical-align: super;
}