@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/grid.scss";

@import "../../styles/shadows.scss";

$appNavbarHeight: 40px;

// Navbar Layout
// -------------------------------------------

.appNavbarContainer {
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;

  background-color: #fff;
  height: $appNavbarHeight;
  border-bottom: 1px solid $gray200;
}

.appNavbar {
  flex: 1;
  display: flex;
  justify-content: space-between;

  height: $appNavbarHeight;

  padding-left: 8px;
  padding-right: 8px;
}

.appNavbarLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 0px;

  list-style-type: none;
}

.appNavbarRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 0px;

  list-style-type: none;
}

.appNavbarCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Navbar Logo
// -------------------------------------------

.appNavbarLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  margin-right: 16px;
  margin-left: 8px;
  background-color: $grayCinder;
  border-radius: 4px;
}


// Navbar Items
// -------------------------------------------

.appNavbarItem {
  display: none;
  user-select: none;
  height: $appNavbarHeight;

  opacity: 0.5;
}
.appNavbarItem:hover, .appNavbarItem.selected { opacity: 1; }

.appNavbarItem > a, .appNavbarItem > span {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $appNavbarHeight;

  padding-left: 16px;
  padding-right: 16px;

  color: $midnight;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.appNavbarItem.selected > a,
.appNavbarItem.selected > span { color: $midnight; }

.appNavbarItem.showOnMobile {
  display: flex;
}
@media (min-width: $screenSmMax) {
  .appNavbarItem {
    display: flex;
  }
  .appNavbarItem.hideOnDesktop {
    display:none;
  }
}

.appNavbarIcon {
  display: flex;
  align-items: center;
  padding-right: 8px;
}


// Dropdown menu
.appNavbarMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // Should not be below anything except modals
  z-index: 99;
  position: relative;
}

.appNavbarMenuTarget {
  cursor: pointer;
  outline: none;
  &:hover { opacity: 0.9; }
}
.appNavbarMenuTarget.opened > .appNavbarItem { opacity: 1; }

.appNavbarMenuItems {
  position: absolute;
  top: $appNavbarHeight;
  right: 0;

  display: flex;
  flex-direction: column;
  background-color: #fff;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 32px;

  border: 1px solid $gray300;
  border-radius: 4px;

  opacity: 0;
  pointer-events: none;
  @include dialog-box-shadow;
}
.appNavbarMenuItems.opened {
  opacity: 1;
  pointer-events: auto;
}

.appNavbarMenuItem {
  display: flex;
  align-items: center;
  height: 40px;
  opacity: 0.5;
  user-select: none;

  color: $midnight;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
}
.appNavbarMenuItem:hover { opacity: 1; }
.appNavbarMenuItem.selected {
  opacity: 1;
  color: $midnight;
}

.appNavbarMenuItemIcon {
  padding-right: 8px;
}
