@import "@density/ui/variables/colors.scss";
@import "@density/ui/variables/spacing.scss";
@import "@density/ui/variables/fonts.scss";

.backdrop {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

.wrapper {
  position: relative;
  outline: none;
  color: $gray700;
}

.selector {
  z-index: 2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid $blue;
  font-size: $fontSizeBase;
  font-weight: 500;
  color: $gray400;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}
.queryTextBold {
  font-weight: 700;
  color: $midnight;
}

.popup {
  position: absolute;
  top: 28px;
  left: 0px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: all 150ms ease-in-out;

  border: 1px solid $gray200;
  border-radius: $borderRadiusBase;
  box-shadow: 0 8px 10px 0 rgba($gray900, 0.1);
  background-color: #fff;
  z-index: 3;
  overflow: hidden;
}
.popup.open {
  opacity: 1;
  top: 36px;
  pointer-events: auto;
}
