@import "@density/ui/variables/colors.scss";


.apiDocsLink {
  color: $blue;
}

.adminDeveloperTokenList {
  padding: 24px;
}

.adminDeveloperWebhookList {
  padding: 24px;
  padding-bottom: 64px;
}

.adminDeveloperSectionHeader {
  height: 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid $gray200;
  font-size: 24px;
  font-weight: 400;
  color: $midnight;
  margin-bottom: 32px;
}

.adminDeveloperListviewValue {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
